body {
  font-family: Helvetica;
  text-align: center;
}

#container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.win {
  background-color: green;
}

.loss {
  background-color: red;
}

.team {
  border: solid 1px black;
}
