<p>NBA Streaks</p>
        <div id='container'>
          <p>Toronto Raptors</p>
          <table class='team'>
            <tr>
              <td class='win'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
            </tr>
          </table>
          <p>Milwaukee Bucks</p>
          <table class='team'>
            <tr>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='loss'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
              <td class='win'>W</td>
            </tr>
          </table>
          <h3>Todo</h3>
          <ul>
            <li>Grab Data from Online Site (JSON? jQuery? NokoGiri?)</li>
            <li>Create functions to display streaks for each team</li>
            <li>Create templates to render each team streak</li>
            <li>Use D3.js to make an interesting display</li>
          </ul>
        </div>